<header>
  <nav class="main-nav-wrapper">
    <ul class="main-nav">
      <li><a href="#/">Home</a></li>
      <!-- other list items here -->
      <li><a href="#/beers" class="subnav-trigger">Beers</a></li>
      <li class="go-back"><a href="#0">Random Beer</a></li>
    </ul>
  </nav>
</header>