/*
white: #F7F9F9;
light-blue: #2081C3;
dark-blue: #0A2C42;
grey: rgba(145, 145, 145, 0.481);
font-family: Arial, Helvetica, sans-serif
*/
html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  height: 100%;
  position: relative;
 }
nav {
  display: flex;
  width: 100%;
 }
.main-nav-wrapper {
  background-color: #2081C3;
  color: #F7F9F9;
 }
.main-nav a {
  color: #F7F9F9;
  text-decoration: none;
  margin: 10px;
 }
.main-nav li {
  list-style: none;
  flex-direction: row;
  
 }
 .main-nav {
   display: flex;
   
   align-content: space-around;
 }
.footer-container {
  display: flex;
  background-color: #0A2C42;
  color: #F7F9F9;
  margin-top: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
 }
 .beer-img {
   width: 20%;
   margin: 0 auto;
 }
.index-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-bottom: 11%;
 }
.btn {
  margin: 0 auto;
  background-color: #2081C3;
  color: #F7F9F9;
  border-radius: 10px;
  margin-top: 3%;
  padding: 20px 10px;
 }
a button {
  text-decoration: none;
  background-color: #2081C3;
  border: none;
  color: #F7F9F9;
}
button .btn-all {
  padding: 20px 10px;
  width: 10%;
 }
button .btn-random {
  padding: 10px 20px;
  width: 20%;
  margin-bottom: 10px;
 }

.beer-container {
  display: inline-flex;
  width: 25%;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2%;
  margin-left: 2%;
 }
.beer-container p,h2, h3{
  text-align: center;
}
.beer-cards img{
  width: 20%;
  justify-content: center;
  align-items: center;
  padding-left: 40%;
 }
.beer-cards{
  width: 100%;
  height: 100%;
 }