{{> navbar}}
<div class="index-container">
  <img class="beer-img" src="/images/beer.png" alt="" srcset="">
  <button class="btn btn-all">Check the Beers!</button>
  <button class="btn btn-random">Check a Random Beer!</button>
</div>

{{> footer}}