
<div class="index-container">
  <img class="beer-img" src="/images/beer.png" alt="" srcset="">
  <a href="/beers"><button class="btn btn-all">Check the Beers!</button></a>
  <a href="/random-beer"><button class="btn btn-random">Check a Random Beer!</button></a>
</div>

{{> footer}}