
<div class="index-container">
  <img class="beer-img" src="/images/beer.png" alt="" srcset="">
  <a class="btn btn-all" href="/beers"><button >Check the Beers!</button></a>
  <a class="btn btn-random" href="/random-beer"><button>Check a Random Beer!</button></a>
</div>

{{> footer}}